.essential-edition-container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #fff;
  padding: 5px 0;
}

.essential-title {
  font-size: 28px;
  font-weight: 700;
  color: #111;
  margin-bottom: 10px;
}

.red-underline {
  width: 80px;
  height: 3px;
  background-color: #e30613;
  margin: 0 auto 15px auto;
  border-radius: 5px;
}

.essential-text {
  font-size: 16px;
  color: #333;
  font-style: italic;
  margin-bottom: 30px;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  justify-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.category-link {
  text-decoration: none;
  color: inherit;
}

.category-card {
  background-color: #fafafa;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 200px;
  cursor: pointer;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.category-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.category-name {
  background-color: #f3f3f3;
  padding: 8px 0;
  font-weight: 600;
  color: #333;
  border-top: 1px solid #ddd;
}
